@media print {
    a[href]:after {
        content: "";
    }
}

.extra-large-space {
    height: 5em;
}

.large-space {
    height: 1.5em;
}

.small-space {
    height: 1em;
}

.extra-small-space {
    height: .25em;
}

.popover-btn {
    margin: 0 !important;
    padding: 0 !important;
}

.ui-match {
    background: #ffdc0f;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

/*.checkbox {
    padding-left: 0;
}*/

.gearbox-multiselect .btn-group {
    height: 34px;
    width: 100%;
}
        
.gearbox-multiselect .btn-group button {
    width: 100%;
}

.gearbox-multiselect .btn-group button .multiselect-selected-text {
    float: left;
    white-space: nowrap;
    max-width: 93%;
    overflow: hidden;
}

.gearbox-multiselect .btn-group button b.caret {
    float: right;
    margin-top: 8px;
}

.gearbox-inline-xeditable .editable-wrap, .gearbox-inline-xeditable .editable-input {
    width: unset !important;
}

.gearbox-disable-select {
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.converge-order-form ul.dropdown-menu:not(.dropdown-menu-left) {
    right: 0 !important;
    left: auto !important;
}

.carousel-inner .active {
    background-color: transparent!important;
}
.carousel-control .glyphicon {
    color: white;
    text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666!important;
    font-size: 20px;
    top: 0;
    margin-top: 0;
    height: 20px;
}
.carousel-indicators {
    position: relative !important;
    margin-left: 50% !important;
    -ms-transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    left: 0 !important;
    bottom: 0 !important;
    margin-top: 10px !important;
}
    .carousel-indicators li {
        border-color: #c4c4c4 !important;
        margin: 3px !important;
    }
        .carousel-indicators li.active {
            background-color: #c4c4c4 !important;
            margin: 2px !important;
        }
.carousel-control {
    background-image: none!important;
    background-color: transparent!important;
    top: 50%!important;
    height: 20px!important;
    margin-top: -10px!important;
    filter: none!important;
}

.widget-list ul.widget-preview-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.widget-list ul.widget-preview-list > li {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.widget-list li.widget-preview-item {
    height: 265px;
}

.widget-list li.dndDraggingSource {
    opacity: 0.5;
}

.widget-list .dndPlaceholder {
    padding-right: 15px;
}

.widget-list .dndPlaceholder > div {
    background-color: #ddd !important;
    display: block;
    border: none;
    border-radius: .25em;
    padding-right: 30px;
    width: 100%;
    height: 100%;
}

.widget-list .widget-preview {
    height: 261px;
    padding-left: 0;
    padding-right: 30px;
}

.edit-grid-item {
    border: 3px dashed #ccc;
}
.edit-grid-item:hover {
    border-color: #bbb;
}
.target-edit-grid-item {
    border: 4px dashed #999;
}
.target-edit-grid-item:hover {
    border-color: #555;
}
.target-edit-grid-item:hover:before {
    filter: alpha(opacity=45);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 45)";
    -moz-opacity: .45;
    -khtml-opacity: 45;
    opacity: .45;
}

.edit-grid-item-btn-group {
    background-color: #fff;
    position: absolute !important;
    right: 0px;
    padding: 0px;
    z-index: 1000;
}
.edit-grid-item-btn-group > button {
    padding: 2px 7px !important;
    border-radius: 0px !important;
    margin: 0px;
}
.edit-grid-item-btn-group > a {
    padding: 2px 7px !important;
    border-radius: 0px !important;
    margin: 0px;
}

.gridster-item {
    z-index: 0 !important;
}

.gridster-item-move-icon {
    height: 50%;
    width: 50%;
}

.gridster-dynamic-height::-webkit-scrollbar {
    -webkit-appearance: none;
}

.gridster-dynamic-height::-webkit-scrollbar:vertical {
    width: 0px;
    visibility:hidden;
}

@media (min-width: 768px) {
    .widget-list ul.widget-preview-list > li {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .widget-list ul.widget-preview-list > li {
        width: 33.33333333%;
    }
}

.rotate-45-left:before {
    display: block;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rotate-45-right:before {
    display: block;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.gearbox-widget-btn-sm {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    margin-bottom: 10px;
}

.gearbox-widget-btn {
    margin-bottom: 15px;
}

.gearbox-widget-btn-lg {
    padding: 22px 28px;
    font-size: 22px;
    line-height: normal;
    margin-bottom: 15px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

@media (min-width: 532px) and (max-width: 767px) {
    .gearbox-widget-btn-lg {
        padding: 6px;
        font-size: 12px;
        margin-bottom: 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .gearbox-widget-btn-lg {
        padding: 8px;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .gearbox-widget-btn-lg {
        padding: 14px;
        font-size: 20px;
        margin-bottom: 12px;
    }
}

@media (min-width: 1200px) {
    .gearbox-widget-btn-lg:last-child, .gearbox-widget-btn:last-child, .gearbox-widget-btn-sm:last-child {
        margin-bottom: 0px;
    }
}

.product {
    cursor: pointer;
}

.product.quick-add {
    cursor: default;
}

.product-widget-height {
    height: 300px;
}
    .product-widget-height.collapsed {
        height: 190px;
    }

.product-list-widget-height {
    min-height: 150px;
}

.category-card{
    min-height: 60px;
    position: relative;
}

.widetooltip + div {
    left: -170px;
    top: -30px;
}
.widetooltip + div .tooltip-inner {
    width: 160px;
}
.widetooltip + div .tooltip-inner hr {
    margin: 5px;
}

.strike {
    text-decoration: line-through;
}

[ng-click] {
    cursor: pointer;
}

.no-hover[ng-click] {
    cursor: default;
}

.price-box {
    position: absolute;
    bottom: 8px;
    right: 2px;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: .25em;
    padding: 2px 2px 2px 3px;
    width: auto;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
}
    .price-box h4, .price-box h6 {
        margin: 0;
        padding: 0;
        line-height: 1.25em;
    }
    .price-box h4 {
        font-size: 13px;
    }
    .price-box h6 {
        font-size: 11px;
    }

.favorites-box {
    position: absolute;
    top: 0;
    bottom: initial;
    left: 2px;
    border-radius: .25em;
    padding: 2px 3px 2px 3px;
    width: auto;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
}

    .favorites-box.price-box {
        right: 2px;
        left: initial;
    }
    .favorites-box h4, .favorites-box h5, .favorites-box h6 {
        margin: 0;
        padding: 1px;
        line-height: 1.25em;
    }
    .favorites-box h3 {
        font-size: 15px;
    }
    .favorites-box h4 {
        font-size: 13px;
    }
    .favorites-box h5 {
        font-size: 12px;
    }
    .favorites-box h6 {
        font-size: 10px;
    }
    .flexbox-itemcode-favorites {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0px 10px 0px 0px;
        flex-wrap: wrap;
    }
    .flexbtn-favorites {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0px;
        border-radius: 4px;
    }
    .flexbtn-favorites .btn-themed {
        padding: 5px 5px;
    }   

    @media(min-width:500px){
        .flexbox-itemcode-favorites .col-sm-5 {
           width: 33.3333333333%;
        }
        .flexbox-itemcode-favorites .col-sm-7 {
           width: 58.33333333%;
        }
    }

.select2-results .select2-disabled {
    background: initial;
}

.product-zoom-icon-wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
    .product-zoom-icon-wrap:hover .product-zoom-icon {
        display: block;
    }
.product-zoom-icon {
    display: none;
    height:25px;
    width:25px;
    border-radius:15px;
    background-color:#000;
    color:#fff;
    line-height:25px;
    vertical-align:middle;
    position:absolute;
    left:2%;
    top:2%;
    cursor: pointer;
}

.product-tags {
    position: absolute;
    bottom: 8px;
    left: 2px;
    box-sizing: border-box;
}
    .product-tags ul {
        margin: 0;
    }
    .product-tags li {
        display: block;
        margin-top: 2px;
    }

.product-title-height {
    max-height: 40px;
}
.product-itemcode-height {
    max-height: 20px;
}

.product-widget-height .ellipsis, .product-widget-height .ellipsis:before {
    height: 145px;
    overflow: hidden;
}

.product-list-widget-height .ellipsis, .product-list-widget-height .ellipsis:before {
    height: 125px;
    overflow: hidden;
}

.ellipsis.quick-add, .ellipsis.quick-add:before {
    height: 40px;
    overflow: hidden;
}

.listellipsis, .listellipsis:before {
    height: 100px;
    overflow: hidden;
}

/*.product-detail-button {
    position: absolute;
    bottom: 2px;
}*/

.product-image-container {
    padding: 5px;
}

.small-product-image-container {
    max-height: 372px;
}
.small-product-image-container img {
    max-height: 300px;
}
.large-product-image-container, .large-product-image-container img {
    max-height: 80%;
}

.product-indicator-arrow{
    width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid black;
    position: absolute;
    z-index: 1000;
    display: none;
}

.product-highlight {
    border: 2px solid #000;
}

.product-dtl-pusher {
    /*position: relative;*/
    display: none;
    padding-right: 15px; 
    padding-bottom: 5px; 
    margin: 0px 0px 15px 15px;
    clear:both;
}

.product-dtl-pusher-style {
    border: 2px solid #000;
    background-color: #fff;
    padding-top: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.125);
    box-shadow: 3px 3px 3px rgba(0,0,0,.125);
}

.category-popover-header {
    font-weight:bold!important;
    color:#000;
    font-size: 18px;
    text-decoration: underline;
}

li.has-error, .has-error label {
    color: #a94442;
}
li.has-warning, .has-warning label {
    color: #8a6d3b;
}
.has-success label {
    color: #3c763d;
}

.small label {
    margin: 0;
}

.small .form-group {
    margin-bottom: 0;
}

.small-column {
    padding-left: 6px;
    padding-right: 6px;
}

.small-column.no-padding {
    padding-left: 0;
    padding-right: 0;
}

#inputQuantity {
    padding: 3px 6px;
}

.product-project-image-error {
    border: solid 2px #a94442;
    border-radius: 3px;
}

.product-project-image-error img {
    margin-top: -3px;
}

.category-menu > li {
    word-wrap: break-word;
    width: inherit;
    padding: 2px;
}
.category-menu > li > a {
    white-space: normal;
    width: inherit;
    font-size:90%;
}

.volume-table {
    width: 100%;
}

.volume-table .volume-info {
    float: left;
    padding: 5px;
    font-weight: 400;
    font-size: .85em;
    color: #999;
    text-align: center;
    border-right: 1px solid #ddd;
}

.volume-info-right-border {
    border-right: 1px solid #ddd;
}
.volume-info-bottom-border {
    border-bottom: 1px solid #ddd;
}

.volume-table .five-wide {
    width:20%;
}
.volume-table .four-wide {
    width:25%;
}
.volume-table .three-wide {
    width:33.333333333%;
}
.volume-table .two-wide {
    width:50%;
}

.volume-table .five-wide:nth-child(5n) {
    border-right: none;
}
.volume-table .four-wide:nth-child(4n) {
    border-right: none;
}
.volume-table .three-wide:nth-child(3n) {
    border-right: none;
}
.volume-table .two-wide:nth-child(2n) {
    border-right: none;
}

.volume-table .volume-info span {
    display: block;
}

.volume-table .volume-info .volume-price {
    font-weight: 600;
    color: #888;
}


.gearbox-nav-list-animate-enter,
li.gearbox-nav-list-item.ng-enter {
  transition: 200ms linear all;
  position: relative;
  display: block;
  opacity: 0;
  max-height:0px;
}
.gearbox-nav-list-animate-enter.gearbox-nav-list-animate-enter-active,
li.gearbox-nav-list-item.ng-enter-active{
  opacity: 1;
  max-height:30px;
}

.gearbox-nav-list-animate-leave,
li.gearbox-nav-list-item.ng-leave {
  transition: 200ms linear all;
  position: relative;
  display: block;
  height:30px;
  max-height: 30px;
  opacity: 1;
}
.gearbox-nav-list-animate-leave.gearbox-nav-list-animate-leave-active,
li.gearbox-nav-list-item.ng-leave-active {  
  height: 0px;
  max-height:0px;
  opacity: 0;
}

/*.gearbox-nav-list-animate.ng-enter{

}
.gearbox-nav-list-animate.ng-enter{

}*/

.nav > li.gearbox-nav-list-item.disabled > a {
    color: #777 !important;
}

.gearbox-nav-list-item.ui-sortable-handle:hover {
  background-color: #f5f5f5;
  cursor: move;
}
.gearbox-nav-list-item > div .ui-sortable-handle:hover {
  background-color: #f5f5f5;
  cursor: move;
}

ul.gearbox-nav-list li.gearbox-nav-list-item {  
  padding: 0px;
  margin:0px;
}

ul.gearbox-nav-list li.gearbox-nav-list-item a {
  padding: 3px 10px;
}

ul.gearbox-nav-list i.indented {
  padding: 2px;
}

.gearbox-nav-list {
  cursor: pointer;
}
ul.nav.gearbox-nav-list .level-1 .indented {
  position: relative;
  left: 0px;
}
ul.nav.gearbox-nav-list .level-2 .indented {
  position: relative;
  left: 20px;
}
ul.nav.gearbox-nav-list .level-3 .indented {
  position: relative;
  left: 40px;
}
ul.nav.gearbox-nav-list .level-4 .indented {
  position: relative;
  left: 60px;
}
ul.nav.gearbox-nav-list .level-5 .indented {
  position: relative;
  left: 80px;
}
ul.nav.gearbox-nav-list .level-6 .indented {
  position: relative;
  left: 100px;
}
ul.nav.nav-list.gearbox-nav-list .level-7 .indented {
  position: relative;
  left: 120px;
}
ul.nav.nav-list.gearbox-nav-list .level-8 .indented {
  position: relative;
  left: 140px;
}
ul.nav.nav-list.gearbox-nav-list .level-9 .indented {
  position: relative;
  left: 160px;
}

.total-panel.affix {
    right: 0;
}

.font-bold {
    font-weight: bold;
}

/*@media (min-width: 768px){
	.catalog-categories > .row > .col-md-12 > a > div > div:hover {
		background-color: #428bca;
		color: #fff;
	}
	.catalog-categories > .row > .col-md-12 > a > div > div.active {
		background-color: #428bca;
		color: #fff;
	}
	.catalog-categories > .row > .col-md-12 > a > div > div {
		padding-top: 2.5px;
		padding-bottom: 2.5px;
	}
}*/

@media (max-width: 767px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-collapse {
        height: calc(100vh - 56px) !important;
        max-height: calc(100vh - 56px) !important;
    }
}

.gearbox-key-filter-accordion .panel-group {
    margin-bottom: 0;
}

.gearbox-key-filter-accordion .panel {
    margin: 10px 0 !important; 
    border: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.gearbox-key-filter-accordion .panel-heading {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

.gearbox-key-filter-accordion .panel-body {
    padding: 0 15px;
    border: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

.gearbox-searchable-keyvalues {
    overflow-y:auto;
    max-height:130px;
}
.gearbox-searchable-keyvalues::-webkit-scrollbar {
    -webkit-appearance: none;
}

.gearbox-searchable-keyvalues::-webkit-scrollbar:vertical {
    width: 13px;
}

.gearbox-searchable-keyvalues::-webkit-scrollbar:horizontal {
    height: 13px;
}

.gearbox-searchable-keyvalues::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #c1c1c1;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.gearbox-searchable-keyvalues::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0;
    border-radius: 0;
}

.gearbox-searchable-keyvalues::-webkit-scrollbar-thumb:window-inactive {
	background: #ccc; 
}

.gearbox-searchable-keyvalues::-webkit-scrollbar-button {
    width: 12px;
    height: 12px;
    background: #fff;
}

.gearbox-searchable-keyvalues::-webkit-scrollbar-button:hover {
    background: #f1f1f1;
}

.gearbox-searchable-keyvalues::-webkit-scrollbar-button:vertical:decrement {
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAt0lEQVQ4T93SwQ2CQBAF0D9jA7JLFZbgxYPagBpswJ6sQE20CDVysAR7YGG1AGcMBxJASIzc2Ovsf7v5GULHQx3z6DtgjBkDkCzL7m1dtXZgrZ0COKiqCnP0dO7ahDQC1toZgP2beQVVYpEjM6+dc5c68gUUYWFe+iS55YFhGE4GqiciiupIBTDGzIloJyIL731cfq2E5D85F7MKEATBA8CmHi4u54iqbl9pOmoE/tnKvm/iL518AFQmQhEv43/iAAAAAElFTkSuQmCC");
    color: #939393;
    background-size:contain;
 }

.gearbox-searchable-keyvalues::-webkit-scrollbar-button:vertical:increment {
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAoElEQVQ4T92TMQ/CIBCF30HsfoW/psa4OfmTunTXGP/ZtTgabcBgQlINOMhWxrt7Hy8PjlB5qFKPpQHY2qMT6QE8C9k0bO3BiXSp/5FBa8w1eK+cc5sMpGHmC2l9H0W2WQCAVWvMOXhPX5C3OCj1uA3DDsBUAsR6gkQnawBUEsfh0jMmiI5DuZt/OUi9CDmBaBpF9nPb84CX9pH+WazqDF6j9kMRZPzOrwAAAABJRU5ErkJggg==");
    color: #939393;
    background-size:contain;
}

.gearbox-asset-pagination .pagination {
    margin: 0;
}

.gearbox-asset .favorites-box {
    right: 2px;
    text-align: right;
}

.sortable-list {
	list-style: none outside none;
	/*margin: 10px 0 30px;*/
}

.sortable-item {
	width: 100%;
    background-color: white;
	text-align: center;
	cursor: move;
}

.sortable-item  button {
    padding: 5px 10px;
	margin: 5px 0;
}

.sortable-item-left {
	padding: 5px 10px;
	margin: 5px 0;
}
.sortable-item-left > b {
    border: 2px solid black;
    padding: 2px 5px;
    color: black;
}
.sortable-item-right {
	padding: 5px 10px;
	margin: 5px 0;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.gearbox-selected-item-tile:before {
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 80)";
    -moz-opacity: .8;
    -khtml-opacity: 8;
    opacity: .8;
    content: "\f00c";
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 300px;
    transition: .25s;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    z-index: 1;
    background-color: #fff;
    color: #0c6f0c;
}
.gearbox-selected-item-tile:hover:before {
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 60)";
    -moz-opacity: .6;
    -khtml-opacity: 6;
    opacity: .6;
}

.gearbox-non-selected-item-tile:before {
    filter: alpha(opacity=25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 25)";
    -moz-opacity: .25;
    -khtml-opacity: 25;
    opacity: .25;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 300px;
    transition: .25s;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    z-index: 1;
    content: '';
    background-color: #fafffa;
    color: #0c6f0c;
}
.gearbox-non-selected-item-tile:hover:before {
    filter: alpha(opacity=45);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 45)";
    -moz-opacity: .45;
    -khtml-opacity: 45;
    opacity: .45;
}

.gearbox-selected-item-list:before {
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 80)";
    -moz-opacity: .8;
    -khtml-opacity: 8;
    opacity: .8;
    content: "\f00c";
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 160px;
    transition: .25s;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    z-index: 1;
    background-color: #fff;
    color: #0c6f0c;
}

.gearbox-non-selected-item-list:before {
    filter: alpha(opacity=25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 25)";
    -moz-opacity: .25;
    -khtml-opacity: 25;
    opacity: .25;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 160px;
    transition: .25s;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    z-index: 1;
    content: '';
    background-color: #fafffa;
    color: #0c6f0c;
}

hr.gearbox-modal-footer {
    margin: 0 -30px 10px -30px; 
    border-color: #e5e5e5;
}

.gearbox-search-all-project-folders > .selectize-control > .selectize-dropdown {
    border: none;
    position: relative;
}

.gearbox-search-all-project-folders > .selectize-control > .selectize-input {
    border-left: none;
    border-right:none;
    border-radius: 0;
    border-color: #ccc;
    cursor: text !important;
}
.gearbox-search-all-project-folders > .selectize-control > .selectize-input {
    border-left: none;
    border-right:none;
    border-radius: 0;
    border-color: #ccc;
    padding: 0 10px !important;
}
.gearbox-search-all-project-folders > .selectize-control > .selectize-input > input {
    height: 30px;
    cursor: text !important;
}

.gearbox-search-all-project-folders > .selectize-control > .selectize-input:after {
    content: none !important;
}

a.no-hover:hover {
    text-decoration:none;
}

.full-width {
    width: 100%;
}

.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

@supports (width: 100vw) {
    .full-screen-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
    .full-page-layout {
        width: 100vw !important;
        height: 100vh !important;
        z-index: 1000;
    }
}

select.product-catalog-menu-select {
    margin-top: 5px;
    margin-bottom: 5px;
}
select.product-catalog-menu-select option.default-option:first-child {
	display: none;
}

.searchTerms {
    padding-top: 15px;
}

    .searchTerms > ul {
        padding: 0px;
        list-style: none;
        margin-top: 5px;
    }

        .searchTerms > ul > li {
            margin-right: 3px;
            display: inline-block;
        }

            .searchTerms > ul > li > span > .remove-term {
                cursor: pointer;
                margin-left: 1px;
                margin-right: 7px;
            }

            .searchTerms > ul > li > span > .edit-term {
                cursor: pointer;
                margin-left: 3px;
                margin-right: 5px;
            }

.search-term-tag {
    background-color: #ddd;
    color: #555;
    margin-top: 10px;
}

.select2-container .select2-choice abbr.select2-search-choice-close {
    top: 16px;
}

.select2-container.select-2-show-as-label .select2-choice {
    cursor: initial;
    background-color: initial;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

    .select2-container.select-2-show-as-label .select2-choice .select2-chosen {
        cursor: initial;
        padding: 0;
        font-family: "Source Sans Pro", sans-serif;
        color: #656565;
    }

    .select2-container.select-2-show-as-label .select2-choice .select2-arrow {
        display: none;
    }

button > span:last-child > p:last-child {
    margin-bottom: 0;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-default {
    border-left-color: #777;
}

    .bs-callout-default h4 {
        color: #777;
    }

.bs-callout-primary {
    border-left-color: #428bca;
}

    .bs-callout-primary h4 {
        color: #428bca;
    }

.bs-callout-success {
    border-left-color: #5cb85c;
}

    .bs-callout-success h4 {
        color: #5cb85c;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }


.input-xs, .form-control.input-xs {
    height: 23px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

select.input-xs, select.form-control.input-xs {
    height: 23px;
    line-height: 23px;
}

textarea.input-xs, textarea.form-control.input-xs,
select[multiple].input-xs, select[multiple].form-control.input-xs {
    height: auto;
}

.form-horizontal .form-group.no-form-horizontal {
    margin-right: initial;
    margin-left: initial;
}

.editable-empty.no-decorate,
.editable-empty.no-decorate:hover,
.editable-empty.no-decorate:focus {
    font-style: inherit;
    color: inherit;
    text-decoration: inherit;
}

.dropzone {
    height: 50px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
}

    .dropzone.in {
        height: 200px;
        line-height: 200px;
        font-size: larger;
    }

    .dropzone.hover {
        background: lightblue;
    }

    .dropzone.fade {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 1;
    }

.introjs-skipbutton {
    margin-right: 0;
    margin-left: 5px;
    display: none;
}

    .introjs-skipbutton.introjs-donebutton {
        display: inline-block;
        margin: 0;
    }

.introjs-helperLayer.introjs-fixedTooltip {
    opacity: 0.4;
}

#gearbox-external-ui-plugin-wrapper {
    position: fixed;
    right: 10px;
    bottom: 0;
    z-index: 999998;
}

#gearbox-external-ui-plugin-wrapper .tawk-to-plugin-present {
    bottom: 50px;
}

#gearbox-external-ui-plugin-button {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    min-width: 320px;
    text-align: left;
}

.gearbox-charges-popover {
    max-width: 100%;
    width: 250px;
}

td[role=gridcell] button.btn[btn-default]:disabled, td[role=gridcell] button.btn.btn-default.btn-sm[disabled] {
    background-color: #ddd;
}

.ckeditor-form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .ckeditor-form-control > p:last-child {
        margin-bottom: 0;
    }