<!-- START Top Navbar-->
<nav class="topnavbar navbar-expand-lg ">
<!-- START navbar header-->
<div class="navbar-header">
  <a href="/Impersonate" class="navbar-brand">
      <div class="brand-logo" style="margin-top: -2px;">
          <img src="../../../../assets/images/admin/IRISlogo.png" alt="GearBox" style="max-height: 40px;" class="img-responsive">
      </div>
      <div class="brand-logo-collapsed" style="margin-top: 2px;">
          <img src="../../../../assets/image/admin/IRISlogo.png" alt="GearBox" style="max-height: 40px;" class="img-responsive">
      </div>
  </a>
</div>
  <!-- START Nav wrapper-->
<div class="nav-wrapper">

  <!-- START Right Navbar-->
  <ul class="nav navbar-nav navbar-right">
     <!-- START Offsidebar button-->
        <!-- <li class="visible-lg">
            <a href data-toggle-fullscreen="">
                <i class="fa fa-expand"></i>
            </a>
        </li>
      <li>
          <a href ng-click="app.offsidebarOpen = !app.offsidebarOpen">
              <i class="fa fa-gear"></i>
          </a>
      </li> -->
        <li>
            <a  (click)="logout()">
                <em class="fa fa-sign-out"></em>
            </a>
        </li>
     <!-- END Offsidebar menu-->
  </ul>
  <!-- END Right Navbar-->
</div>
  <!-- END Nav wrapper-->
<!-- END navbar header-->
</nav>
